#calendar{
    width: 50%;
    height: 100px;
}
.selecter{
    width: 23%;
    height: 100px;
}
.orders{
    width: 40%;
    height: 100px;
}
.buttons{
    width: 50%;
    height: 60px;
}
input{
    font-size: 20px;    
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','San Fransisco',sans-serif;
}
#textareaa{
    
}