#calendar{
    height: 30px;
}
.select_number{
    width: 20%;
}
.selecter{
	border :1px solid #eee;
    height: 30px;
}
.orders{
	border :1px solid #eee;
    height: 30px;
    width: 100%
}
.boxes{
	border :1px solid #eee;
    height: 30px;
}
.buttons{
    height: 60px;
}
input{
    font-size: 20px;    
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','San Fransisco',sans-serif;
}
select{
    font-size: 20px;    
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','San Fransisco',sans-serif;
}
#textarea{
    width: 100%;
    font-size:15px;
}
#underline{    
      text-decoration:underline;
}
code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
#pre_md_div{
    border: 1px solid black;
}