body {
    background-image: url("https://i.ibb.co/3y0sqZPY/body-background.png");
    background-size: cover;
    }
.outside { 
    background-color: #9390ce;
    margin: 5px 5px 5px 5px;
    }
table { 
    background-color: #ece8f4;
    width: 95%;
    margin: 0 auto;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','San Fransisco',sans-serif;
    }
.order_date { font-size: 10px}
.deadline { 
    width: 85%;
    font-size: 30px;
    }
.delivery {
    font-size: 10px;
}
.time_left_value { font-size: auto}