body {
    background-image: url("https://i.ibb.co/3y0sqZPY/body-background.png");
    background-size: cover;
}
table { 
    background-color: #bde9ba;
    margin: 0 auto;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','San Fransisco',sans-serif;
        }
.order_date { font-size: 10px}
.deadline { font-size: 34px}
.time_left_value { font-size: 10px}